header {
    background-color: rgb(165, 201, 80);
    height: 35px;

}
main{
    background-color: beige;
    margin: auto;
    width: 300;
}

h1 {
    font-size: 30px;
}

h2 {
    color: darkslategray;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

body {
    font-size: medium;
    color: black;
}

img {
    border: none;
    height: 100px;
}

p {
    font-size: medium;
    color: black;
}