header {
    background-color: #b6cf8f;
    opacity: 0.6;
    height: 60px;
    text-decoration: solid;
    border-style: outset;
}
body {
    background-color: hsl(60, 58%, 79%);
    opacity: 1;
    border-style: outset;
}
main{
    background-color: hwb(60 46% 16%);
    width: 300;
    border-style: outset;
}

h1 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    opacity: 1;
}

h2 {
    color: rgb(0, 0, 0);
    border-style: inset;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

body {
    font-size: medium;
    color: black;
}

img {
    border: black;
    height: 200px;
    width: 300px;
    float: left;
    border-style: outset;
}

p {
    font-size: medium;
    color: black;
    padding: 5px;
    border-style: outset;
    background-color: beige;
}