head {
    font-size: larger;
    color: black;
}

h1 {
    font-size: large;
    color: #070B87 ;
}

body {
    font-size: medium;
    color: black;
}
img {
    border: none;
    height: 100px;
}

p {
    font-size: medium;
    color: black;
}